@import '../../../../functions';

.proxy__container{
    font-family: 'Poppins';
    background-color: #556EE6;
    padding: 25px 75px;
}

.proxy__discription{
    width: 50%;
    h2{
        font-size: 36px;
    }
    p{
        color: white;
        font-size: 24px;
    }
}

@media(max-width: 820px){
    $v-max: 820;
    $v-min: 360;
    .proxy__container{
        padding-left: calcFluidFontSize(25, 75, $v-min, $v-max) 
    }
    .proxy__discription{
        width: 70%;
        h2{
            font-size: calcFluidFontSize(16, 36, $v-min, $v-max) 
        }
        p{
            font-size: calcFluidFontSize(12, 24, $v-min, $v-max) 
        }
    }
}